:root {
  --pad-left:   28%;
  --spacer:     30px;
  --pad-side:   4px;
}

/* ============================= */
/*            Gallery            */
/* ============================= */
.custom-gallery {
  width: 100%;
  height: 800px;
}

/* card Flickity */
.gallery-cell {
  height: 100%;
  width: auto;   
  margin-right: 20px; /* GAP */
  user-select: none;
}

/* скрываем нативный скролл на случай fallback */
.custom-gallery::-webkit-scrollbar { display: none; }
.custom-gallery { -ms-overflow-style: none; scrollbar-width: none; }

/*---GALLERY DOTS---*/  
.custom-gallery .flickity-page-dots{
  bottom:-16px;    /* SPACER */
}


.custom-gallery .flickity-page-dots .dot{
  width:20px; 
  height:4px;
  margin:0 3px; 
  border-radius:0;
  background:#000;
  opacity:.2;
  transition:opacity .3s;
}

/* ============================= */
/*      Rich Text with alt       */
/* ============================= */

/* WIDE */
.w-richtext > p img[alt="wide"],
.w-richtext > figure img[alt="wide"] {
  display: block;
  width: 100%;
  max-width: 3000px;
  height: auto;
}

/* VERICAL */
.w-richtext > p img[alt="vertical"],
.w-richtext > figure img[alt="vertical"] {
  height: auto;
  max-width: 3000px;
}

/* HORIZONTAL */
.w-richtext > p img[alt="horizontal"],
.w-richtext > figure img[alt="horizontal"] {
  display: block;
  height: auto;
  max-width: 3000px;
}

.rt-wrapper--wide {
  padding: 0;
}

.rt-wrapper--vertical {
  padding: 0 20% 0 var(--pad-left);
}

.rt-wrapper--horizontal {
  padding: 0 0 0 var(--pad-left);
}
/*---PROJECT and ARTICLE---*/  
.project_content p {
  margin: var(--spacer) 0 var(--spacer) var(--pad-left);
  max-width: 700px;
}

.w-richtext figure img {
  padding: var(--spacer) 0 var(--spacer);
}

blockquote {
  font-size: var(--h2--size);
  line-height: var(--h2--line-height);
  letter-spacing: var(--h2--letter-spacing);
  padding: calc(var(--spacer) + 20px) 0 calc(var(--spacer) + 20px) var(--pad-side);
  max-width: 1200px;
}

/*---MENU---*/  
.menu_item,
.footer_item{
  display:inline-block;
}

.label{
  display:inline-block;
  transition:color .2s ease, transform .2s ease;
  will-change:color, transform;
  color:rgba(255,255,255,.6);
}

.menu_item:hover .label,
.menu_item:focus .label{
  transform:translateX(16px);
}

.footer_item:hover .label {
  color:rgba(255,255,255,1);
}

-webkit-font-smoothing: antialiased !important;

